{% extends "layout.html" %}
{% block content %}
    <h3>Actual inventory status</h3>
    <hr>
    {% for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
    <button type="button" class="btn btn-dark items-btns">
        <a href="/new_item" class="nav-link text-white">
            Add new item
        </a>
    </button>
    <button class="btn btn-dark items-btns" onclick="document.getElementById('delete-modal').style.display='block'">
        Delete checked items
    </button>

    <form action="{{ url_for('delete') }}" method="post">
        <div id="delete-modal" class="modal">
            <span onclick="document.getElementById('delete-modal').style.display='none'" class="close" title="Close Modal">×</span>
            <div class="modal-content" action="">
                <div class="container modal-container">
                    <h1>Delete?</h1>
                    <p>Are you sure you want to delete selected items?</p>
                
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('delete-modal').style.display='none'" class="btn btn-secondary">Cancel</button>
                        <input type="submit" onclick="document.getElementById('delete-modal').style.display='none'" class="btn btn-danger" value="Delete">
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Serial Number</th>
                        <th>Inventory Number</th>
                        <th>Date added</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <input type="checkbox" name="delete_check" value="{{ item.id }}">
                            </td>
                            <td>
                                <p>{{ item.item_type|replace('[', '')|replace(']', '') }}</p>
                            </td>
                            <td>
                                <p>{{ item.name }}</p>
                            </td>
                            <td>
                                <p>{{ item.serial }}</p>
                            </td>
                            <td>
                                <p>{{ item.inventory_num }}</p>
                            </td>
                            <td>
                                <p>{{ item.addition_date.strftime("%d/%m/%Y %H:%M:%S") }}</p>
                            </td>
                            <td>
                                <button class="btn btn-secondary">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <script>
        var modal = document.getElementById('delete-modal');
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock content %}