{% extends "layout.html" %}
{% block content %}
    <h3>Actual inventory status</h3>
    <hr>
    {% for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
    
    <div>
        <!-- Button trigger modal for adding items confirm -->
        <button type="button" class="btn btn-dark items-btns" data-bs-toggle="modal" data-bs-target="#add-modal">
                Add new item
        </button>

        <!-- Button trigger modal for deleting items confirm -->
        <button type="button" class="btn btn-dark items-btns" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Delete checked items
        </button>
    </div>

    <!-- Modal for item adding -->
    <form action="{{ url_for('new_item') }}" method="post">
        <div id="add-modal" class="modal fade" tabindex="-1" aria-labelledby="add-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Add new entry</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>  
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Type</span>
                            <select class="form-select" name="add_type">
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Item name</span>
                            <input type="text" name="add_name" placeholder="Name, model etc.">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Item serial number</span>
                            <input type="text" name="add_serial" placeholder="Number of item series">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Inventory number</span>
                            <input type="text" name="add_inventory_num" placeholder="Unique asset number">
                        </div>
                    </div>                     
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="{{ url_for('delete') }}" method="post">
        <!-- Modal for deleting items confirm -->
        <div id="delete-modal" class="modal fade" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Delete?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>  
                    <div class="modal-body">
                        <p>Are you sure you want to delete selected items?</p>
                    </div>          
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Serial Number</th>
                        <th>Inventory Number</th>
                        <th>Date added</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <input type="checkbox" name="delete_check" value="{{ item.id }}">
                            </td>
                            <td>
                                <p>{{ item.item_type|replace('[', '')|replace(']', '') }}</p>
                            </td>
                            <td>
                                <p>{{ item.name }}</p>
                            </td>
                            <td>
                                <p>{{ item.serial }}</p>
                            </td>
                            <td>
                                <p>{{ item.inventory_num }}</p>
                            </td>
                            <td>
                                <p>{{ item.addition_date.strftime("%d/%m/%Y %H:%M:%S") }}</p>
                            </td>
                            <td>
                                <!-- Button trigger modal for item edition -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ item.id }}">
                                    Edit
                                </button>

                                <!-- Modal for item edition -->
                                <form action="{{ url_for('modify') }}">
                                    <div id="edit-modal-{{ item.id }}" class="modal fade" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1>Edit item</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>  
                                                <div class="modal-body">
                                                    <input type="text" id="fname" name="edit_type" value="{{ item.item_type|replace('[', '')|replace(']', '') }}">
                                                    <input type="text" id="fname" name="edit_name" value="{{ item.name }}">
                                                    <input type="text" id="fname" name="edit_serial" value="{{ item.serial }}">
                                                    <input type="text" id="fname" name="edit_inv_num" value="{{ item.inventory_num }}">
                                                </div>                     
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <input type="submit" class="btn btn-success" value="Save">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock content %}